/**
 * @file App.css
 * @author Giovanni Macciocu
 * @date 02/24/2020 19:43:24 CET
 */

:root {
  --border: #cccccc;
}

html,
body,
div,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  line-height: 16px;
  margin: 1rem 0;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  border: 1px solid black;
}

th {
  background: #cedcf2;
  text-align: center;
}

td {
  text-align: left;
}

button {
  margin: 1rem 0;
  font-size: 1.2rem;
  padding: 6px 24px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

input,
select {
  font-size: 1.2rem;
  padding: 0.2em;
  border: 1px solid var(--border);
  border-style: solid;
}

input:disabled {
  background: #dedede;
}

button:active,
button:active {
  position: relative;
  top: 1px;
}

button:disabled,
button.red:disabled,
button.green:disabled,
button:disabled:hover,
button.red:disabled:hover,
button.green:disabled:hover {
  box-shadow: inset 0px 1px 0px 0px #cccccc;
  background: linear-gradient(to bottom, #d0d0d0 5%, #bcbcbc 100%);
  background-color: #d0d0d0;
  border: 1px solid #949494;
  color: #ffffff;
}

button.red {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border: 1px solid #942911;
  color: #ffffff;
}

button.red:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}

button.green {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  color: #ffffff;
}

button.green:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}

div.App {
  max-width: 600px;
  padding: 1rem;
}

div.createTradeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.createTradeContainer div {
  text-align: center;
}

div.createTradeContainer div.inputs input,
div.createTradeContainer div.inputs button,
div.createTradeContainer div.inputs select {
  width: 100%;
}
